.GamePlatforms{
    height: 250px;
    overflow: auto;
}

.GamePlatforms::-webkit-scrollbar {
    width: 10px;
    
  }
  
  
.GamePlatforms::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
  }
   
  
  
.GamePlatforms::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }

.GamePlatforms h3{
  font-weight: 300;
}

/* Media Querries */

@media (max-width:900px){
  .GamePlatforms{
    height: 100px;
  }
}